/*statusDetail*/
.status_container {
    width: 100%;
    display: flex;
}

.status_container_status {
    flex: 1;
    border: 1px solid black;
}

.status_container_info {
    flex: 1;
    border: 1px solid black;

}

.status_container_composition {
    flex: 1;
    border: 1px solid black;
}

/*inventoryDetails*/
.inventory_container {
    height: 60vh;
    position: relative;
}
.inventory_container_title {
    display: flex;
    box-sizing: border-box;
    height: 100px;
    border: 2px solid gray;
}
.inventory_container_title__country {
    flex: 3;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--country-font-family);
    color: var(--font-color);
    border-right: 1px solid gray;
}
.inventory_container_title__info {
    flex: 7;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--country-font-family);
    color: var(--font-color);
    padding-left: 10px;
    border-left: 1px solid gray;
}
.type {
    color: black;
}
.inventory_container_content {
    position: absolute;
    top: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.inventory_container_content__product {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    overflow: scroll;
    box-sizing: border-box;
    border-width: 0 1px 2px 2px;
    border-style: solid;
    border-color: gray;
}
.inventory_container_content__product::-webkit-scrollbar{width:0}
.inventory_container_content__raw {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    overflow: scroll;
    box-sizing: border-box;
    border-width: 0 2px 2px 1px;
    border-style: solid;
    border-color: gray;
}
.inventory_container_content__raw::-webkit-scrollbar{width:0}
