html,
body {
    padding: 0;
    margin: 0;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ant-menu-item {
    padding-inline: 45px !important;
}

.ant-drawer .ant-drawer-title{
    font-size: 20px;
    color: white;
}
.ant-drawer .ant-drawer-close {
    color: white;
}
:root {
    --global-border-style: 1px solid rgb(240, 242, 245);
    --global-box-shadow__inactive: 0 1px 2px 0 rgb(0 0 0 / 3%),
    0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
    --global-box-shadow__active: 0 0 5px rgba(0, 0, 0, 0.5);
    --back-color_navbar: #860563;
    --staff-dashboard-inventory-width: 30%;
    --staff-dashboard-order-width: 40%;
    --back-color_container: rgb(240, 242, 245);
    --country-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    --font-color: #606266;
}
