/*Layout*/
.layout {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*navbar*/
.navbar {
    position: relative;
    height: 80px;
    display: flex;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    background: var(--back-color_navbar);
    color: white;
}

.drawer {
    padding: 0;
}

.navbar_item__menu {
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    flex-basis: 65%;
    background: inherit;
    color: inherit;
}

.navbar_item__brand {
    flex-basis: 15%;
    margin: 0 15px;
    cursor: pointer;
}

.navbar_item__userinfo {
    flex-basis: 20%;
    line-height: 80px;
}

/*noticeBar*/
.noticebar {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--back-color_navbar);
}

.noticebar_inline {
    position: relative;
    top: 50%;
    left: 50%;
    width: 88%;
    height: 94%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: var(--back-color_container);
    box-sizing: border-box;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes down2top {
    from {
        top: 100vh
    }
    to {
        top: 0
    }
}

@keyframes cur2top {
    from {
        top: 0
    }
    to {
        top: -105px
    }
}

@keyframes remove {
    from {
        left: 0
    }
    to {
        left: 360px;
        visibility: hidden;
    }
}

.messagebox_down_top {
    animation: down2top 1s;
}

.messagebox_cur_top {
    animation: cur2top 1s;
    animation-fill-mode: forwards;
}

.remove {
    animation: remove 1s;
    animation-fill-mode: forwards;
}

.messagebox {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    background: white;
    border: 1px solid #DCDFE6;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    top: 0;
    color: #303133;
    left: 0;
}

.messagebox_info {
    text-align: center;
}

.messagebox_operate {
    display: flex;
    justify-content: space-around;
    padding: 10px
}

/*userBar*/
.userbar {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.userbar:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.userbar_notification {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 40px;
}

.userbar_notification__icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.userbar_notification__icon:active {
    color: #F78C2A;
}


.userbar_item {
    height: 100%;
    line-height: 80px;
    margin: 0 15px;
    text-align: right;
}

.userbar_item__info {
    height: 50%;
    line-height: 39px;
}

.userbar_item__operate {
    height: 50%;
    line-height: 39px;

}

/*container*/
.container {
    position: absolute;
    height: calc(100% - 80px);
    left: 0;
    width: 100%;
    background: var(--back-color_container);
}
