.loginContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.test {
    position: absolute;
    background: white;
    width: 500px;
    height: 500px;
    top:100px;
    left: 100px;
}
.login_box {
    position: absolute;
    background: rgba(255, 255, 255);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 60%;
    border-radius: 8%;
    opacity: 0.9;
}
.hint_container {
    text-align: center;
    box-sizing: border-box;
    margin: 10% 0 0 0;
    font-size: 40px;
}
.form_container {
    width: 100%;
    height: 100%;
    padding: 10%;
}
.login_input {
    height: 50px;
}
.login_btn {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 50px;
}
