/*loading*/
.mask_layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0.6;
    background: black;
    z-index: 5;
}
.spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*ItemText*/
.order_items_text {
    font-size: 16px;
    margin-bottom: 15px;
}
.title {
    position: relative;
    min-width: 150px;
    display: inline-block;
    vertical-align: text-top;
    line-height: 18px;
}
.title:before {
    content: ':';
    position: absolute;
    right: 0;
}
.value {
    display: inline-block;
    margin-left: 10px;
}
.value_span:after {
    content: '';
    margin: 0 15px;
    border-right: 1px #606266 solid;
}

/*OrderForm*/
.order_form {
    height: 100%;
    width: 100%;
}
