/*loading*/
.mask_layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0.6;
    background: black;
    z-index: 1;
}
.spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*ItemText*/
.order_items_text {
    position: relative;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}
.title {
    position: absolute;
    width: 60px;
}
.title:before {
    position: absolute;
    left: 60px;
    content: ':';
}
.value {
    padding-left: 80px;
}
